<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:if="${param.keyword} != null" th:text="${param.keyword} + ' - TOKPHONE STORE'"
           th:unless="${param.keyword == null}">Your Default Page Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets3/img/favicon.png" rel="icon">
    <link href="/assets3/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets3/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets3/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets3/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets3/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets3/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NewBiz
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <!-- Uncomment below if you prefer to use an text logo -->
            <!-- <h1><a href="index.html">NewBiz</a></h1> -->
            <a href="index.html"><img src="/assets3/img/logo.png" alt=""
                                      class="img-fluid me-3"/><span> TOKPHONE STORE </span></a>
        </div>

        <nav id="navbar" class="navbar">
            <form th:action="@{/pages/searchsales}" method="get" class="d-flex">
                <input class="form-control me-2" type="search" name="keyword" th:value="${param.keyword}"
                       placeholder="Search Transaction">
                <button type="submit" class="btn" style="border-color: #0b4a8e;"><i class="bi bi-search"
                                                                                    style="color:#0b4a8e;"></i></button>
            </form>
            <ul>
                <li><a class="nav-link scrollto " th:href="@{/pages/newproduct}">Home</a></li>
                <li><a class="nav-link scrollto" href="#footer">About</a></li>
                <li class="dropdown"><a href="#"><span>Shop</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a th:href="@{/pages/newproduct}">New Product</a></li>
                        <li><a th:href="@{/pages/popularitem}">Popular Item</a></li>
                        <li><a th:href="@{/pages/allproduct}">All Product</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span th:text="${currentUser.name}">Name</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a th:href="@{/pages/sales}">Transaction</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- #header -->

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2 th:text="'Search for result Transaction : ' + ${param.keyword}"></h2>
                <ol>
                    <li><a th:href="@{/pages}">Pages</a></li>
                    <li>Transaction</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <div class="container">
        <section class="d-flex justify-content-center align-items-center row mb-3 mt-4">
            <div class="card w-75 mb-3" th:each="sale : ${userSales}">
                <!-- Tanggal -->
                <h5 th:text="${sale.date}" class="card-header d-flex justify-content-between align-items-center">
                    Tanggal
                </h5>
                <!-- Status -->
                <h5 class="position-absolute top-0 end-0 p-2 bg-light rounded me-2" th:text="${sale.getStatus()}">
                    status</h5>
                <div class="card-body d-flex flex-column justify-content-between">
                    <p class="card-text" th:text="'ID : ' + ${sale.id}">ID</p>

                    <div class="d-flex">
                        <!-- Gambar -->
                        <img th:src="@{${sale.item.imagePath}}" alt="Gambar" class="me-3"
                             style="width: 100px; height: 100px;">
                        <div class="me-2">
                            <!-- Item Name -->
                            <h5 th:text="${sale.item.name}" class="card-title">Name</h5>
                            <!-- Total Item -->
                            <p th:text="${sale.quantity} + ' item'" class="card-text mb-1">Item</p>
                            <p class="card-title" th:text="'Metode Pembayaran : ' + ${sale.metodePembayaran}"></p>
                        </div>
                    </div>
                    <p class="card-title">Total Belanja</p>
                    <p class="card-text d-flex justify-content-between">
                        <!-- Total Belanja -->
                        <span th:text="'Rp. ' + ${#numbers.formatDecimal(sale.subtotal, 0, 'COMMA', 2, 'POINT')}">Total</span>
                        <!-- Batalkan Pesanan -->
                        <a th:if="${sale.status != 'Success'}" th:href="@{/pages/deletesales/__${sale.id}__}"
                           class="btn btn-danger">Batalkan Pesanan</a>
                    </p>
                    <!-- Tambahkan input field tersembunyi untuk id_sale -->
                    <input type="hidden" name="id_sale" th:value="${sale.id}"/>

                    <!-- Periksa apakah metodePembayaran adalah 'Transfer' -->
                    <a th:if="${sale.metodePembayaran == 'Transfer' && sale.status == 'Success'}"
                       class="btn btn-outline-secondary mb-3 " data-bs-toggle="modal"
                       th:data-bs-target="'#staticBackdrop-' + ${sale.id}">Melihat Bukti Transfer</a>


                    <!-- Modal -->
                    <div th:each="sale : ${userSales}" th:id="'staticBackdrop-' + ${sale.id}"
                         class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                         data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Bukti Transfer</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img class="card-img-top" th:src="${sale.proofOfPayment}" alt="Product Image"
                                         width="450"
                                         height="300"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tambahkan tautan untuk mengunduh nota PDF -->
                    <a th:if="${sale.status == 'Success'}" th:href="@{/nota/{id}(id=${sale.id})}"
                       class="btn btn-primary" download="nota.pdf">Download Nota</a>

                </div>
                <form th:if="${sale.status != 'Success'}" novalidate
                      method="post"
                      th:action="@{/savepayment}"
                      th:object="${sale}"
                      enctype="multipart/form-data"
                >
                    <!-- Tambahkan input field tersembunyi untuk id_sale -->
                    <input type="hidden" name="id_sale" th:value="${sale.id}"/>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto mb-3">
                            <label class="col-form-label">Upload Bukti Transfer : </label>
                        </div>
                        <div class="col-auto mb-3">
                            <input type="file" name="payment" class="form-control" accept="image/*"
                                   th:value="${sale.proofOfPayment}" th:attr="data-target=${sale.proofOfPayment}"/>
                        </div>
                        <div class="auto mb-3">
                            <button class="btn btn-primary form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>


</main>
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>TOKPHONE</h3>
                    <p>
                        TOKPHONE merupakan aplikasi marketplace web dengan
                        menjual berbagai macam handphone yang ada diindonesia
                        setiap pembelian diberikan garansi resmi dari TOKPHONE
                    </p>
                </div>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"
                    ><i class="bi bi-instagram"></i
                    ></a>
                    <a href="#" class="instagram"
                    ><i class="bi bi-instagram"></i
                    ></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>TOKPHONE</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets3/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets3/vendor/aos/aos.js"></script>
<script src="/assets3/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets3/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets3/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets3/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets3/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets3/js/main.js"></script>
</body>
</html>